<section class="relative w-full h-[600px] md:h-[600px] overflow-hidden">
  <!-- Contenedor del Slider -->
  <div class="flex h-full transition-transform duration-500 ease-in-out relative"
    [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">

    <div *ngFor="let slide of slides; let i = index" class="flex-none w-full h-full relative">

      <!-- Imagen optimizada -->
      <picture>
        <source [srcset]="slide.image" type="image/avif">
        <img [src]="slide.image" [alt]="slide.alt" class="w-full h-full object-cover md:object-center object-left"
          [attr.fetchpriority]="i === 0 ? 'high' : 'low'" [loading]="i === 0 ? 'eager' : 'lazy'" decoding="async"
          width="1920" height="600">
      </picture>

      <!-- Contenido slide 1 -->
      <div *ngIf="slide.id === 1" class="absolute inset-0 flex items-center px-6 md:px-40">
        <div class="max-w-2xl">
          <h2 class="text-3xl md:text-5xl font-bold text-white mb-4">
            {{slide.title}}
          </h2>

          <p class="text-lg md:text-xl text-white mb-8 max-w-xl drop-shadow-lg">
            {{slide.description}}
          </p>

          <div *ngIf="slide.logos" class="flex space-x-4 mt-8">
            <img *ngFor="let logo of slide.logos" [src]="logo.img" [alt]="logo.alt" class="h-12 md:h-16">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>